<h1>Timeline</h1>

<p>My tweets: <%= @user.tweets.count %> </p>

<% @tweets.each do |tweet| %>
  <p>Tweet by:
    <%= link_to user_path(tweet.user) do %>
      <%= tweet.user.username %>
    <% end %>
    <%= tweet.content %>
  </p>
  <% if tweet.user.id == current_user.id %>
    <%= link_to tweet_path(tweet), :method => :delete, data: {:confirm => "Are you sure you want to delete your tweet?" } do %>
      <p> Delete </p>
    <% end %>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Create a new tweet!</h1>

      <%= simple_form_for @tweet do |f| %>
        <%= f.input :content %>
        <%= f.button :submit, "Tweet!" %>
      <% end %>
      </div>
   </div>
</div>

