<div class="title">
  <h1>Suggested users you can follow</h1>
</div>

<div class="row">
  <% @users.each do |user| %>
    <% if user != current_user %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= link_to user_path(user) do %>
          <div class="user-box">
            <%= image_tag default_image(user), class: "suggested-user-picture" %>
            <div class="username-link">
              <%= user.username %> has <%= user.tweets.count %> tweets
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="text-center">
  <%= link_to "Back to my timeline", tweets_path %>
</div>
