<h1>User Profile for <%= @user.username %></h1>
<p>Tweets: <%= @user.tweets.count %> </p>
<p>Following: <%= @user.follow_count %></p>
<p>Followers: <%= @user.followers_count %></p>


<% if @user.avatar.url.present? %>
  <%= image_tag @user.avatar, class: "avatar-picture" %>
<% else %>
  <%= image_tag 'twitter_egg.png', class: "avatar-picture" %>
<% end %>

<% if @user.first_name.present? %>
<p>First Name: <%= @user.first_name %></p>
<% end %>

<% if @user.last_name.present? %>
<p>Last Name: <%= @user.last_name %></p>
<% end %>

<% if @user.age.present? %>
<p>Age: <%= @user.age %></p>
<% end %>

<p>Email: <%= @user.email %></p>

<% if @user.biography.present? %>
<p>Biography: <%= @user.biography %></p>
<% end %>

<% if @user.id == current_user.id %>
 <%= link_to edit_user_registration_path do %>
      <p> Update my profile </p>
 <% end %>
<% end %>

<% if @user.id != current_user.id  %>
  <% if @user.followed_by?(current_user) %>
    <%= link_to "Unfollow", unfollow_user_path(@user) %>
  <% else %>
    <%= link_to "Follow", follow_user_path(@user) %>
  <% end  %>
<% end  %>

<%= console %>
