<div class="title">
  <h1><%= @user.username %>'s profile</h1>
</div>

<div class="profile-card">
  <% if @user.avatar.url.present? %>
    <%= image_tag @user.avatar, class: "profile-picture" %>
  <% else %>
    <%= image_tag 'twitter_egg.png', class: "profile-picture" %>
  <% end %>

  <h3>
    <% if @user.first_name.present? %>
      <%= @user.first_name %>
    <% end %>

    <% if @user.last_name.present? %>
      <%= @user.last_name %>
    <% end %>
  </h3>

  <% if @user.age.present? %>
      <p><strong>Age:</strong> <%= @user.age %></p>
  <% end %>

  <p><strong>Email:</strong> <%= @user.email %></p>

  <% if @user.biography.present? %>
    <p><strong>Biography:</strong> <%= @user.biography %></p>
  <% end %>
  <br>
  <% if @user.id == current_user.id %>
    <%= link_to "Update my profile", edit_user_registration_path, class: 'follow-button'%>
  <% end %>

  <% if @user.id != current_user.id  %>
    <% if @user.followed_by?(current_user) %>
        <%= link_to "Unfollow", unfollow_user_path(@user), class: 'follow-button'%>
    <% else %>
        <%= link_to "Follow", follow_user_path(@user), class: 'follow-button'%>
    <% end  %>
  <% end  %>
</div>
<br>
<div class="text-center">
  <%= link_to "Back to my timeline", tweets_path %>
</div>
